<div class="page-header">
    <h1>All U.S. History Cards</h1>
</div>
<%= link_to "Post new Card", new_card_path, class: "btn btn-success" %>

<% @cards.each do  |card| %>

    <div class="cards">
      <strong><%= card.question %></strong>
      <p><%= card.answer %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(card.created_at) + "ago" , card %>

        <span class="admin">
        | <%= link_to "Edit", edit_card_path(card) %> |
          <%= link_to "Delete", card, method: :delete, data: { confirm: "Are you sure you want to delete?"} %>

        </span>
      </div>
    </div>

<% end %>